/* Colors and fonts*/

body {
	background: rgb(230, 230, 230);
	color: rgb(20, 20, 20);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font font-weight: 200;
}

h1, h2, h3{
	font-family: 'Montserrat', sans-serif;

}

h1{ 
color: darkslategrey; 
font-size: 32px;
font-weight: 600;
}

h2{
	color: seagreen;
	font-size: 28px;
	font-weight: 300
}

a{
	text-decoration: none;
	color: royalblue;
	font-size: 16px;
	font-weight: 200;
	padding: 15px 20px;
	border-radius: 5px;
}

a:hover{
	color: darkviolet;
	
}

.container{
	width: 700px;
	margin: 40px auto;
	text-align: center;
}

.card-white{
	background: white;
	margin: 30px;
	padding: 40px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
}

.img-circle{
	border-radius: 50%;
	width: 	150px;
}

.list-inline{
	list-style: none;
  padding-left: 0px; 
}

.list-inline>li{
	 display: inline;
  padding: 0px 20px;
}

.btn-profile{
	text-decoration: none;
	border-radius: 4px;
	background-color: royalblue;
	padding: 15px 20px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	}

.btn-profile>a{
	color: white;
}

.btn-profile>a:hover{
	background: black;
}

#introduction p{
	margin-bottom: 	50px;
}